h1{color: rgb(106, 198, 106); text-align: center; font-size: 75px; text-shadow: 5px 5px 5px black;}
.titre{text-decoration: underline;}
.fondPage1{background-image: url("bloc.png") ; background-size:cover; color: rgb(6, 6, 6); }
.fondPage2{background-image: url("bloc2.png") ; background-size:cover; color: rgb(6, 6, 6); }
h2{color: rgb(255, 255, 255); text-shadow: 5px 5px 5px black}
.style1{font-size: 25px;color: white; text-shadow: 5px 5px 5px black}
.levage {
    display: inline-block; 
    vertical-align: middle;
    font-size: 30px;
    padding-left: 30px;
  }
.associe{
    vertical-align: middle;
    padding-left: 30px;
}
.cadre{background-color: black; margin: 10px; border: 10px; padding : 10px; display: inline-block;}
.descente{vertical-align: bottom;}
body{font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
